/*---------------------------
    Client
---------------------------*/
.client {
	position: relative;
	display: flex !important;
	align-items: center;
	justify-content: center;
	height: 90px;

	img {
		padding: 0 15px;
		opacity: 0.5;
		@include prefix(transition, all .3s ease, webkit moz ms o);
	}

	&:hover img {
		opacity: 1;
		@include prefix(transform, scale(1.1), webkit moz ms o);
	}
}

.clients-light .client img {
	opacity: 0.8;
	filter: brightness(100);
}

.certificates-container {
	margin-right: -20px;
	margin-left: -20px;

	>[class*='col'] {
		padding: 20px;
	}

	img {
		max-width: 100px;
		filter: brightness(100);
		@include prefix(transition, all 0.3s linear, webkit moz ms o);

		&:hover {
			@include prefix(transform, translateY(-8px), webkit moz ms o);
		}
	}
}