// Sass Variables
$color-primary: #21cdad;
$color-secondary: #002678;
$color-primary-rgb: 33, 205, 173;
$color-secondary-rgb: 0, 38, 120;
$color-accent: #00226c;
$color-default: #828599;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;
$color-light: #6d6fb3;

$font-heading: 'Lexend',
  sans-serif;

$font-body: 'Roboto',
  sans-serif;